body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}
.customContainer{
  width: 90%
}
.loader{
  background-color: rgba(0, 0, 0, 0.57);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}
.lazyLoad{
    margin: auto;
    height: 70px;
    margin-top: 10px
}
.tableAdjust{

}
.speedometer .label{color: green;display: none}